<!-- Describe task in general -->

<p style="text-align: justify;">
    Кожен з нас напевно чув про азбуку Морзе - класичне кодування тексту двійковими символами, що канонічно позначаються крапками та тире. Однак це кодування технічно є потрійним, оскільки пауза між двома літерами насправді є окремим символом, аналогічно до того, як пробіли між словами, які ви зараз читаєте, є такими ж символами, як і ті, що мають видимі гліфи. Без пауз, що розділяють окремі кодові слова, одне й те саме повідомлення теоретично можна було б декодувати експоненціально багатьма різними способами. 
</p>

<p style="text-align: justify;">
    Ваша функція отримує <b>message</b> без пауз разом з <b>letters</b>, кодування якого спочатку дало <b>message</b>. Ваша функція повинна підрахувати, скільки різних перестановок цих <b>letters</b> дають той самий <b>message</b>. Кожен окремий символ гарантовано з'являється у літерах не більше одного разу, всі символи і літери повинні бути використані. 
</p>



<!-- <p style="text-align: center;">
  <img title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Два аргументи: Повідомлення, закодоване азбукою Морзе, та послідовність літер у вигляді рядків <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Виведіть:</strong> Кількість перестановок як ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">
    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумова:</strong>
    <ul>
    <li><i>len(set(letters)) == len(letters)</i></li>
    </ul>
</p>

<p>
    <i>
        Це завдання взято з курсу CCPS 109 Інформатика I, версія від 21 грудня 2022 року, який викладається на сайті <a target="_blank" href="https://github.com/ikokkari">Ilkka Kokkarinen</a>.
    </i>
</p>

<details>
    <summary><i>Привіт, псс! Натисніть тут, щоб отримати невелику підказку від автора, якщо вона вам потрібна.</i></summary>
    <p>
        Одним із способів розв'язання є використання рекурсії, доповненої смачною порцією магії <b>@lru_cache</b>, щоб запобігти надлишковому дослідженню ідентичних підзадач кілька разів.
    </p>
</details>
